@inject IConfiguration Configuration
@{
    var displayName = Context.Request.Cookies["display_name"];
    var hideMenu = ViewData["HideMenu"] as bool? == true;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>@ViewData["Title"] - ĐENN</title>

    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#000000" />

    <!-- iOS PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="ĐENN" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="/icons/icon-192.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script>window.apiBaseUrl = "@Configuration["ApiSettings:BaseUrl"]";</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/denn.modals.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <div class="app-container">
        <main class="app-content">
            @RenderBody()
        </main>
        @if (!hideMenu)
        {
            <div class="app-bottom-menu">
                @await Html.PartialAsync("_Navbar")
            </div>
        }
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .catch(err => console.log('SW error', err));
        }
    </script>
    <div id="globalSpinner">
        <div class="spinner-border spinner-custom" role="status"></div>
    </div>
</body>




</html>