html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
  font-variant-numeric: tabular-nums;
  /* Căn số đều */

}

.so-tien {
  text-align: right;
  font-family: system-ui, sans-serif;
  font-variant-numeric: tabular-nums;
}

.ngay-thang {
  text-align: left;
  font-family: system-ui, sans-serif;
  font-variant-numeric: tabular-nums;
}
#KhachHangClear {
    border: none;
    z-index: 5;
    background: transparent !important;
    opacity: .6;
    transition: opacity .15s;
}

#KhachHangClear:hover {
        opacity: 1;
}
td.center-middle {
  vertical-align: middle;
  text-align: center;
}

.text-front {
  position: relative;
  z-index: 1;
}

button,
input,
select,
textarea {
  font-size: 16px;
}

button,
input[type="number"] {
  font-size: 16px !important;
  touch-action: manipulation;
}
















.bg-success-light {
    background-color: #90EE90 !important; /* xanh lá nhạt */
    color: #000 !important; /* chữ đen */
}

.bg-warning-light {
    background-color: #FFFFE0 !important; /* vàng nhạt */
    color: #000 !important; /* chữ đen */
}


.highlight-animate {
    animation: borderFlashPrimary 0.4s alternate infinite;
    border-radius: 6px;
}

@keyframes borderFlashPrimary {
    from {
        box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.9);
    }

    to {
        box-shadow: 0 0 12px 4px rgba(13, 110, 253, 0.9);
    }
}

#chitieu, #congno {
    scroll-margin-top: 20px; /* chừa 80px phía trên, bạn có thể chỉnh 60-100 tuỳ giao diện */
}